[submodule "ComponentFramework-Mock"]
	path = ComponentFramework-Mock
	url = https://github.com/Shko-Online/ComponentFramework-Mock.git
[submodule "PowerApps-Samples"]
	path = PowerApps-Samples
	url = https://github.com/microsoft/PowerApps-Samples
